name: aoc-mod
on: [push]

jobs:
    build-and-test:
        name: Build and test aoc_mod
        strategy:
            matrix:
                python-version: ["3.11", "3.12", "3.13"]
        runs-on: ubuntu-latest
        steps:
            - name: Checkout code
              uses: actions/checkout@v4

            # set up the python version that we'll use
            - name: Set up Python ${{matrix.python-version}}
              uses: actions/setup-python@v5
              with:
                  python-version: ${{matrix.python-version}}

            # install poetry
            - name: Install Poetry
              uses: snok/install-poetry@v1
              with:
                  version: 2.2.1
                  virtualenvs-create: true
                  virtualenvs-in-project: true

            # cache the installation of poetry
            - name: cache poetry install
              uses: actions/cache@v4
              with:
                  path: ~/.local
                  key: poetry-2.2.1-0

            # cache and install poetry dependencies
            - name: Cache Poetry dependencies
              id: cache-poetry-dependencies
              uses: actions/cache@v4
              with:
                  path: .venv
                  key: ${{ runner.os }}-poetry-${{ hashFiles('**/poetry.lock') }}
                  restore-keys: |
                      ${{ runner.os }}-poetry-
            - name: Install dependencies
              if: steps.cache-poetry-dependencies.outputs.cache-hit != 'true'
              run: poetry install --no-root --no-interaction

            # install the actual application now
            - name: Install app
              run: poetry install --no-interaction

            - name: Run ruff linter
              run: poetry run ruff check

            - name: Run tests
              run: poetry run pytest

    build-and-store-artifact:
        needs: [build-and-test]
        runs-on: ubuntu-latest
        name: Build aoc_mod and save artifact

        steps:
            - name: Checkout code
              uses: actions/checkout@v4

            - name: Restore poetry install cache
              uses: actions/cache@v4
              with:
                  path: ~/.local
                  key: poetry-2.2.1-0

            - name: Restore aoc_mod install cache
              uses: actions/cache@v4
              with:
                  path: .venv
                  key: ${{ runner.os }}-poetry-${{ hashFiles('**/poetry.lock') }}
                  restore-keys: |
                      ${{ runner.os }}-poetry-

            # build the wheel
            - name: Build app
              run: poetry build

            # only store artifacts
            - name: Store artifacts from build
              uses: actions/upload-artifact@v4
              with:
                  name: aoc-mod
                  path: dist/

    build_and_deploy_docs:
        needs: [build-and-test]
        runs-on: ubuntu-latest
        permissions:
            contents: write
            pages: write
            id-token: write

        steps:
            - name: Checkout code
              uses: actions/checkout@v4

            - name: Restore poetry install cache
              uses: actions/cache@v4
              with:
                  path: ~/.local
                  key: poetry-2.2.1-0

            - name: Restore aoc_mod install cache
              uses: actions/cache@v4
              with:
                  path: .venv
                  key: ${{ runner.os }}-poetry-${{ hashFiles('**/poetry.lock') }}
                  restore-keys: |
                      ${{ runner.os }}-poetry-

            - name: Build documentation
              run: poetry run sphinx-build -M html docs/source docs/build

            - name: Upload pages artifacts
              uses: actions/upload-pages-artifact@v3
              with:
                  path: docs/build/html

            - name: Deploy to GitHub Pages (optional)
              if: github.ref == 'refs/heads/main' || github.event.pull_request.base_ref == '/refs/heads/main'
              id: deployment
              uses: actions/deploy-pages@v3

    test-pypi-publish:
        needs: [build-and-store-artifact]
        name: upload release to TestPyPI
        runs-on: ubuntu-latest
        if: github.event.pull_request.base_ref == '/refs/heads/main'
        environment: test_pypi
        permissions:
            # IMPORTANT: this permission is mandatory for trusted publishing
            id-token: write
        steps:
            # retrieve your distributions here

            - name: Download archive
              uses: actions/download-artifact@v4
              with:
                  name: aoc-mod
                  path: dist/
            - name: Publish package distributions to PyPI
              uses: pypa/gh-action-pypi-publish@release/v1

    pypi-publish:
        needs: [build-and-store-artifact, test-pypi-publish]
        name: upload release to PyPI
        runs-on: ubuntu-latest
        if: github.ref == 'refs/heads/main'
        environment: pypi
        permissions:
            # IMPORTANT: this permission is mandatory for trusted publishing
            id-token: write
        steps:
            # retrieve your distributions here

            - name: Download archive
              uses: actions/download-artifact@v4
              with:
                  name: aoc-mod
                  path: dist/
            - name: Publish package distributions to PyPI
              uses: pypa/gh-action-pypi-publish@release/v1
